@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-blue: #007bff;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  font-family: "Roboto Condense", sans-serif;
}

/*************************** NavBar *********************/

nav{
  z-index: 2;
  /* position: fixed; */
}

.dcv {
  background-color: var(--primary-blue);
  width: 16.25rem;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  border:none;
  text-transform: uppercase;
}

.dcv:hover{
  border: 1px solid var(--primary-white);
}

nav a.nav-link{
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 13.25rem;
  padding:0 !important;
  height: 5rem !important;
}

@media(max-width: 768px) {
  .navbar-brand{
    width:7rem;
  }
}

.navbar-nav > li > a.active , .navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

/*************************** Flecha *********************/

.arrow-div{
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flecha{
  z-index: 2;
  position: relative;
  width: 60px;
  height: 60px;
  background-color:#bec2c485;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha:hover{
  background-color:var(--primary-blue);
}

.flecha img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/*************************** Header *********************/

.header-wraper{
  margin-top: 5rem;
  height:87.2vh !important;
  position: relative;
  background: url(Imagenes/portfolio-back-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-info{
  display: flex;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: "Roboto Condense", sans-serif;
  height:80vh !important;
}

.main-info h1 {
  color: var(--primary-blue);
  text-transform: uppercase;
}

/*************************** Typed text *********************/

.typed-text {
  font-size: 2rem;
  color:var(--primary-white);
}

@media(max-width: 768px) {
  .typed-text{
    font-size: 1.3rem !important;
  }
  .main-info h1{
    font-size: 1.7rem !important;
  }
}


/*************************** Header Main Offer Button *********************/

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin:2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color:var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/*************************** Particles *********************/

.tsparticles-canvas-el{
  position: absolute;
  padding-top: 1rem;
  height: 86.5vh !important;
  width: 100% !important; 
  /* padding-bottom: 4.5rem; */
  z-index: 1;
}

/*************************** Sobre *********************/

.sobreMi{
  z-index: 2;
  height:80vh;
}

.sobreMi h1{
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top:7rem !important;
}

.sm2{
  display: flex;
  flex-direction: row;
  background:#343a40;
  color:var(--primary-white);
  margin-top: 3%;
  margin-bottom: 1.5%;
  padding: 3%;
  width: 100%;
}

.sm3{
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.sm3 h2,p{
  display: flex;
  width: 95%;
  margin: 2%;
  margin-left: 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sm3 h2{
  margin-bottom: 6%;
}

.sm3 p{
  font-size: 19px;
}

#foto{
  width: 280px;
  height: 280px;
  border-radius:150px
}

@media(max-width: 768px) {
  .sobreMi{
    height: 100vh;
    margin-bottom: 5%;
  }

  .sm2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .sm2 p{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .sobreMi h1{
    font-size: 1.7rem !important;
  }
}

/*************************** Habilidades *********************/

.hab{
  z-index: 2;
  height:100vh;
  background-color: rgb(233, 233, 233);
}

.hab h1{
  padding-top:7rem !important;
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom:3%;
}

.hab2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media(max-width: 768px) {
  .hab{
    height: 230vh;
    margin-top: 5%;
  }

  .hab h1{
    font-size: 1.7rem !important;
    margin-bottom: 2%;
  }
  
  .hab2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*************************** Card *********************/

.card{
  width: 15rem;
  height: 18rem;
  margin-bottom: 4%;
}

.card-body{
  border-bottom: 0.1875rem solid var(--primary-blue);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: transform .2s;
}

.card-body:hover{
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-bottom: 0.1875rem solid black;
  transform: scale(1.11);
}

@keyframes card-ex{
  0%{
    width: 15rem;
    height: 18rem;
  }
  100%{
    width: 18rem;
    height: 21rem;
  }
}


@media(max-width: 768px){
  .card{
    margin-top: 8%;
  }
}

/*************************** Tecnologias *********************/

.tec{
  background-image: linear-gradient(90deg,rgb(106, 0, 116) 0, 
  rgb(69, 0, 87) 25%,
  rgb(62, 0, 75) 50%,
  rgb(42, 5, 53) 75%,
  rgb(30, 0, 39) 100%);

  /* background-color: rgb(30, 5, 53); */
  z-index: 1 !important;
  height:100vh;
}

.tec h1{
  padding-top:7rem !important;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom:3%;
}

/*************************** Iconos *********************/

.tecicons{
  z-index: 2 !important;
  position: relative;
  /* background-color: black; */
}

.tecicons-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: relative; */
  width: 100%;
}

.icon-div{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 3%;
  margin-right: 0;
  height: 140px;
  width: 120px !important;
  border-radius: 3.5%;
  transition: transform .2s;
  margin-right: 0.3%;
}

.iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 1.5%;
  width: 100px;
  height: 100px;
}

.label-tec{
  width: 120px;
  margin-top: 2%;
  font-size: 20px;
  color: rgb(248, 53, 255);
  display: flex;
  justify-content: center;
  align-items:center;
}

.icon-div:hover{
  background-color: #510868;
  transform: scale(1.25);
}

@media(max-width: 768px){
  .card{
    margin-top: 8%;
  }
}


/*************************** Star *********************/

.stars{
  z-index: 1 !important;
  position: relative;
  height: 3vh
  /* margin-top: 5%; */
}

.star{
  z-index: 1 !important;
  position: relative;
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 5%;

  animation: stars 9.1s linear infinite;
}

.star:nth-child(1){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */
  position: absolute;
  bottom: 0;
  left: 7%;
  animation: stars2 8.2s linear infinite;
}

.star:nth-child(2){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 9%;

  animation: stars3 6.3s linear infinite;
}

.star:nth-child(3){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 2%;

  animation: stars 10.4s linear infinite;
}

.star:nth-child(4){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 11%;

  animation: stars2 8.5s linear infinite;
}

.star:nth-child(5){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 12%;

  animation: stars3 6.6s linear infinite;
}

.star:nth-child(6){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left:15%;

  animation: stars 9.7s linear infinite;
}

.star:nth-child(7){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left:17%;

  animation: stars2 6.8s linear infinite;
}

.star:nth-child(8){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left:20%;

  animation: stars3 8.9s linear infinite;
}

.star:nth-child(9){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 22%;

  animation: stars 7.6s linear infinite;
}

.star:nth-child(10){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 25%;

  animation: stars2 10.2s linear infinite;
}

.star:nth-child(11){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 27%;

  animation: stars3 9.3s linear infinite;
}

.star:nth-child(12){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 29%;

  animation: stars 10.4s linear infinite;
}

.star:nth-child(13){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 30%;

  animation: stars2 6.5s linear infinite;
}

.star:nth-child(14){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 32%;

  animation: stars3 8.6s linear infinite;
}

.star:nth-child(15){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 34%;

  animation: stars 9.5s linear infinite;
}

.star:nth-child(16){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 36%;

  animation: stars2 6.7s linear infinite;
}

.star:nth-child(17){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 37%;

  animation: stars3 6s linear infinite;
}

.star:nth-child(18){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 38%;

  animation: stars 10.4s linear infinite;
}

.star:nth-child(19){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 40%;

  animation: stars2 9.9s linear infinite;
}

.star:nth-child(20){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 42%;

  animation: stars3 8.1s linear infinite;
}

.star:nth-child(21){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 44%;

  animation: stars 6.2s linear infinite;
}

.star:nth-child(22){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 45%;

  animation: stars2 7.3s linear infinite;
}

.star:nth-child(23){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 47%;

  animation: stars3 10.4s linear infinite;
}

.star:nth-child(24){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 49%;

  animation: stars 9.5s linear infinite;
}

.star:nth-child(25){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 51%;

  animation: stars2 8.6s linear infinite;
}

.star:nth-child(26){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 53%;

  animation: stars3 6.7s linear infinite;
}

.star:nth-child(27){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 55%;

  animation: stars 10s linear infinite;
}

.star:nth-child(28){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 56%;

  animation: stars2 9.3s linear infinite;
}

.star:nth-child(29){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 58%;

  animation: stars3 8.9s linear infinite;
}

.star:nth-child(30){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 60%;

  animation: stars 10.1s linear infinite;
}

.star:nth-child(31){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 61%;

  animation: stars2 11.2s linear infinite;
}

.star:nth-child(32){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 63%;

  animation: stars3 6.8s linear infinite;
}

.star:nth-child(33){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 64%;

  animation: stars 6.4s linear infinite;
}

.star:nth-child(34){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 66%;

  animation: stars2 9.5s linear infinite;
}

.star:nth-child(35){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 68%;

  animation: stars3 7.6s linear infinite;
}

.star:nth-child(36){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 70%;

  animation: stars 8.7s linear infinite;
}

.star:nth-child(37){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 71%;

  animation: stars2 10s linear infinite;
}

.star:nth-child(38){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 73%;

  animation: stars3 8s linear infinite;
}

.star:nth-child(39){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 75%;

  animation: stars 11s linear infinite;
}

.star:nth-child(40){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 78%;

  animation: stars2 9.8s linear infinite;
}

.star:nth-child(41){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 80%;

  animation: stars3 6.9s linear infinite;
}

.star:nth-child(42){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 82%;

  animation: stars 7.1s linear infinite;
}

.star:nth-child(43){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 85%;

  animation: stars2 9s linear infinite;
}

.star:nth-child(44){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 82%;

  animation: stars3 10.4s linear infinite;
}

.star:nth-child(45){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 86%;

  animation: stars 9.3s linear infinite;
}

.star:nth-child(46){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 88%;

  animation: stars2 10.25s linear infinite;
}

.star:nth-child(47){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 90%;

  animation: stars3 8.25s linear infinite;
}

.star:nth-child(48){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 92%;

  animation: stars 6.25s linear infinite;
}

.star:nth-child(49){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 94%;

  animation: stars2 6s linear infinite;
}

.star:nth-child(50){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 95%;

  animation: stars3 10.5s linear infinite;
}

.star:nth-child(51){
  width:3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 97%;

  animation: stars 9.25s linear infinite;
}

.star:nth-child(52){
  width:3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 99%;

  animation: stars2 8.7s linear infinite;
}

.star:nth-child(53){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 4%;

  animation: stars3 6.8s linear infinite;
}

.star:nth-child(54){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 18%;

  animation: stars 7.5s linear infinite;
}

.star:nth-child(55){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 24%;

  animation: stars2 9.4s linear infinite;
}

.star:nth-child(56){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 39%;

  animation: stars3 7.25s linear infinite;
}

.star:nth-child(57){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 43%;

  animation: stars 11.2s linear infinite;
}

.star:nth-child(58){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 57%;

  animation: stars2 10.6s linear infinite;
}

.star:nth-child(59){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 69%;

  animation: stars3 9.75s linear infinite;
}

.star:nth-child(60){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 76%;

  animation: stars 7.9s linear infinite;
}

.star:nth-child(61){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 84%;

  animation: stars2 6.3s linear infinite;
}

.star:nth-child(62){
  width:4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: .3; */

  position: absolute;
  bottom: 0;
  left: 96%;

  animation: stars3 7.2s linear infinite;
}

@keyframes stars{
  0%{
    bottom: 0px;
    opacity: 100%;
  }
  90%{
    opacity: 1;
  }
  100%{
    bottom:525px;
    opacity:0;
  }
}

@keyframes stars2{
  0%{
    bottom: 250px;
    opacity: 100%;
  }
  49%{
    opacity: 100%;
  }
  50%{
    bottom:525px;
    opacity: 0;
  }
  51%{
    bottom:0px;
    opacity:0%;
  }
  52%{
    opacity: 100%;
  }
  100%{
    bottom:250px;
  }
}

@keyframes stars3{
  0%{
    bottom: 375px;
    opacity: 100%;
  }
  24%{
    opacity: 100%;
  }
  25%{
    bottom:525px;
    opacity: 0;
  }
  26%{
    bottom:0px;
    opacity:0%;
  }
  27%{
    opacity: 100%;
  }
  100%{
    bottom:375px;
  }
}

/* @keyframes stars4{
  0%{
    bottom: 125;
    opacity: 100%;
  }
  74%{
    opacity: 100%;
  }
  75%{
    bottom:525px;
    opacity: 0;
  }
  76%{
    bottom:0px;
    opacity:0%;
  }
  77%{
    opacity: 100%;
  }
  100%{
    bottom:125px;
  }
} */

/*************************** Portafolio *********************/

.por{
  z-index: 2;
  background: url(Imagenes/portfolio-back-3.jpg) no-repeat;
  height:100vh;
}

.por h1{
  padding-top:7rem !important;
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom:2%;
}

.proyectos{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.proyecto{
  width: 50%;
  height: 50vh;
  margin:1.5%;
  display: flex;
  flex-direction: row; 
  background-color: #343a40;
  border-radius: 2.5%;
}

.proyecto-1{
  height: 100%;
  width: 35%;
}

.proyecto-1 img{
  height: 100%;
  width: 100%;
  border-radius: 2.5%;
}

.proyecto-2{
  color: var(--primary-white);
  display:flex;
  flex-direction: column;
  align-items: center; 
  width: 65%;
  justify-content: space-between;
}

.proyecto-2 h1{
  margin-top: 0%;
  padding-top: 0% !important;
  color: var(--primary-white);
  font-size: 30px;
}

.text-div{
  margin:3.5%;
}

.button-div{
  width: 100%;
  height: 6.5vh;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-between;
}

.button-div button{
  width: 49%;
  height: 100%;
}

.button-demo{
  background-color: var(--primary-blue);
  border: none;
  text-transform: uppercase;
  color: #000000;
}

.button-demo:hover{
  background-color: #0065d1;
  color: var(--primary-white);
}

.button-github{
  border: 1px solid #0065d1;
  color: var(--primary-white);
  background-color: transparent;
}

.button-github:hover{
  color:#0065d1;
}

/*************************** Contacto *********************/

.con{
  z-index: 2;
  background-color: #343a40;
  height:100vh;
}

.h1-con{
  padding-top:7rem !important;
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom:2%;
}

.p-con{
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div{
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}

.form-div-1{
  display: flex;
  flex-direction: column;
  width: 90vh;
}

.form-div-2{
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
}

.data{
  color: var(--primary-blue);
  border: none;
  margin-bottom: 4%;
  width: 95%;
  font-size: 17px;
  background-color: #343a40;
  border-bottom: 2px solid #424a52;
}

.data:focus, .des:focus{
  outline: none;
  border-bottom: 2px solid var(--primary-blue);
  transition:  0.6s ease;
}

/* .underline{
  width: 95%;
  height: 2px;
}

.underline::before{
  width: 95%;
  height: 2px;
  margin-bottom: 4%;
  background: var(--primary-blue);
  transform: scaleX(0);
}

.data:focus ~ .underline:before,
.data:valid ~ .underline:before{
  transform: scaleX(1);
} */

.des{
  color: var(--primary-blue);
  width: 80vh;
  height: 21vh;
  border: none;
  background-color: #343a40;
  border-bottom: 2px solid #424a52;
}

.from-button{
  margin-top: 4%;
  background-color: #343a40;
  color: var(--primary-white);
  text-transform: uppercase;
  border:1px solid var(--primary-red);
  height: 6vh;
}

.from-button:hover{
  background-color: var(--primary-hover-red);
  transition:  .2s ease-in-out;
}

/*************************** Footer *********************/

footer{
  background-color: black;
  height: 109.8px;
  padding-top: 1.5%;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-2{
  display: flex;
  flex-direction: row;
}

.footer-3{
  display: flex;
  flex-direction: column;
}

.iconos-foo{
  width: 30vh;
  height: 6vh;
}

.iconos-foo img{
  width: 22%;
  height: 90%;
  margin-left: 20%;
}

.refs-1, .refs-2{
  display: flex;
  flex-direction: column;
}

.refs-1{
  margin-right: 22px;
}